<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}数据中心运维平台 - IDCOPS{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% load static %}
  <link rel="icon" href="{%static 'idcops/favicon.png'%}" sizes="32x32">
  <link rel="icon" href="{%static 'idcops/favicon.png'%}" sizes="192x192">
  <link rel="apple-touch-icon-precomposed" href="{%static 'idcops/favicon.png'%}">
  <meta name="msapplication-TileImage" content="{%static 'idcops/favicon.png'%}">
  <link rel="stylesheet" href="{% static 'idcops/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="/static/idcops/css/AdminLTE.min.css">
  <link rel="stylesheet" href="{%static 'idcops/css/font-awesome.min.css'%}">
  <!--[if lt IE 9]>
  <script src="/static/idcops/dist/js/html5shiv.min.js"></script>
  <script src="/static/idcops/dist/js/respond.min.js"></script>
  <![endif]-->
</head>
{% block body %}
{% endblock %}
</html>
