{% extends 'accounts/base.html' %}
{% load i18n static %}
{% block body %}
<body class="hold-transition lockscreen">
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <b>transit</b>
  </div>
  <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
  <!-- User name -->
  <div class="lockscreen-name">{{request.user}}</div>
  <!-- START LOCK SCREEN ITEM -->
  <div class="lockscreen-item">
    <!-- lockscreen image -->
    <div class="lockscreen-image">
      <img src="/static/idcops/img/default.png" alt="User Image">
    </div>
    <form class="lockscreen-credentials" method="post">{% csrf_token %}
        <div class="input-group">
            {{ form.email.errors }}
            <input type="email" class="form-control" autocomplete="off" name="email" maxlength="254" required="" placeholder="{% trans 'Email address' %}" id="id_email">
            <div class="input-group-btn">
              <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
            </div>
        </div>
        <!--input type="submit" value="{% trans 'Reset my password' %}" /-->
    </form>
  </div>
  <div class="text-center">
    <a href="{% url 'transit:login' %}">{% trans 'Log in again' %}</a>
  </div>
  <div class="lockscreen-footer text-center">
    Copyright &copy; 2016 <b>idcops</b><br>
    All rights reserved
  </div>
</div>
<!-- /.center -->
</body>

{% endblock %}
