{% load static %}
<!-- Footer -->
<div>
    <br><br>
</div>
<footer class="py-3 bg-dark " >
    <div id= 'footer' class="row col-12 justify-content-center">
        <div style="text-align: center; color: lightgrey;">
            <p class="m-0 text-center text-white">
                Copyright © 2020 CNCoder
            </p>
            <p class="mb-0">
                Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a>
                &
                <a href="https://getbootstrap.com/" target="_blank">
                    Bootstrap
                </a>
            </p>
        </div>
    </div>
</footer>
