{% load static %}
<!-- Footer -->
<div>
    <br><br>
</div>
<footer class="main-footer" >
    {% block main-footer %}
    <div id= 'footer' class="row col-12 justify-content-center">
        <div style="text-align: center; color: lightgrey;">
            <p class="m-0 text-center text-white">
                Copyright © 2020 CNCoder
            </p>
        </div>
    <strong>Copyright © 2020 - {% now 'Y' %}<a>CNCoder</a>.</strong> All rights reserved.
    </div>
    {% endblock main-footer %}
</footer>
