{% extends "base.html" %}
{% load static %}
{% block title %}
    轨道交通智慧客流分析预测平台
{% endblock title %}

{% block content %}

    <div id="explore-container">
        <div class="chart-list-panel">
            <div class="row" id="chart-row-line">
                <!--从这开始循环-->
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="chart">
                        <a target="_blank" class="chart-link" href="">
                            <h4 class="chart-title">
                                单月整体客流量波动分析
                            </h4>
                            <img class="chart-area">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main" style="height: 400px"></div>
    <script type="text/javascript">
        var myChart =echarts.init(document.getElementById('main'));
        $.ajax({
            url:"/api/echarts",
            type:"get",
            dataType:"json",
            success:function (data){
                   myChart.setOption(option = {
                title: {
                    text: 'Beijing AQI'
                },
                tooltip: {},
                xAxis: {
                    data: data.key
                },
                yAxis: {},
                toolbox: {},
                dataZoom: [],
                visualMap: {
                    top: 10,
                    right: 10,
                    pieces: [{
                        gt: 0,
                        lte: 50,
                        color: '#096'
                    }, {
                        gt: 50,
                        lte: 100,
                        color: '#ffde33'
                    }, {
                        gt: 100,
                        lte: 150,
                        color: '#ff9933'
                    }, {
                        gt: 150,
                        lte: 200,
                        color: '#cc0033'
                    }, {
                        gt: 200,
                        lte: 300,
                        color: '#660099'
                    }, {
                        gt: 300,
                        color: '#7e0023'
                    }],
                    outOfRange: {
                        color: '#999'
                    }
                },
                series: {
                    name: 'Beijing AQI',
                    type: 'line',
                    data: data.value,
                    markLine: {
                        silent: true,
                        data: [{
                            yAxis: 50
                        }, {
                            yAxis: 100
                        }, {
                            yAxis: 150
                        }, {
                            yAxis: 200
                        }, {
                            yAxis: 300
                        }]
                    }
                }
            });
            }
        });
    </script>
    <style>

        #explore-container {
            margin-left: 0;
        }
        #explore-container {
            margin-left: 180px;
            padding: 51px 20px;
            padding-top: 51px;
            padding-right: 20px;
            padding-bottom: 51px;
            padding-left: 20px;
        }
        .chart-list-panel {
            margin: 30px 15px 30px 15px;
        }
        .chart-list-panel .chart {
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
            margin-bottom: 30px;
            border-radius: 2px;
            background-color: #f9f9f9;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        }
        .chart-list-panel .chart .chart-link {
            position: relative;
            display: block;
        }
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }
        .chart-link .chart-title {
            color: #293c55;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 10px 10px 2px 10px;
            margin: 0;
            font-weight: normal;
            font-size: 16px;
        }
        .col-xl-1, .col-xxl-1, .col-xxxl-1, .col-xl-2, .col-xxl-2, .col-md-2, .col-xxxl-2, .col-xl-3, .col-xxl-3, .col-md-3, .col-xxxl-3, .col-xl-4, .col-xxl-4, .col-md-4, .col-xxxl-4, .col-xl-5, .col-xxl-5, .col-md-5, .col-xxxl-5, .col-xl-6, .col-xxl-6, .col-md-6, .col-xxxl-6, .col-xl-7, .col-xxl-7, .col-md-7, .col-xxxl-7, .col-xl-8, .col-xxl-8, .col-md-8, .col-xxxl-8, .col-xl-9, .col-xxl-9, .col-md-9, .col-xxxl-9, .col-xl-10, .col-xxl-100, .col-xxxl-10, .col-xl-11, .col-xxl-111, .col-xxxl-11, .col-xl-12, .col-xxl-122, .col-xxxl-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .chart-list-panel .chart .chart-link .chart-area {
            width: 100%;
            height: 100%;
            padding: 8px;
        }
        #left-chart-nav li.active a {
            color: #f3f3f3;
        }
        #left-chart-nav li a {
            color: #ccc;
            position: relative;
            display: block;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }
        #left-chart-nav li a .chart-name {
            display: inline-block;
            position: relative;
            top: -12px;
            margin-left: 10px;
        }
    </style>

{% endblock content %}
